<div class="container" style="margin-top: 60px">
<h1>Niesamowicie originalny blog</h1>
<% @posts.each do |post| %>
	<div class="well">
		<h3><%= post.title %></h3>
		<p><%= post.body %></p>
		<%= link_to "Przeczytaj post", post_path(post), :class => 'btn btn-secondary'%>
	</div>
	<% end %>
</div>